<a href="https://colab.research.google.com/github/SilentGee03/Anal-tica-de-Datos-y-Herramientas-de-Inteligencia-Artificial-II/blob/main/Valores%20At%C3%ADpicos%202/Seattlenuevo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INSTITUTO TECNOLOGICO Y DE ESTUDIOS SUPERIORES DE MONTERREY

 CAMPUS PUEBLA

ANALITICA DE DATOS Y HERRAMIENTAS DE INTELIGENCIA ARTIFICIAL II

PREPARACIÓN DE LOS DATOS

ALUMNO:

Jesús Miguel García | A01736213


PROFESORES:

Alfredo García Suárez

Candy Yuridiana Alemán Muñoz

Juan Manuel Ahuactzin Larios

Rigoberto Cerino Jiménez

GRUPO:
501


FECHA DE ENTREGA:
aa/aa/aaaa

## Librerías y lectura de la base

In [47]:
# Importar las librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import ast

In [48]:
#Carga desde un archivo .csv desde equipo
dfSeattle = pd.read_csv('Listings_Seattle.csv')
dfSeattle.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6606.0,https://www.airbnb.com/rooms/6606,2.020000e+13,24/06/2024,city scrape,"Fab, private seattle urban cottage!","This tiny cottage is only 15x10, but it has ev...","A peaceful yet highly accessible neighborhood,...",https://a0.muscache.com/pictures/45742/21116d7...,14942,...,4.76,4.88,4.57,str-opli-19-002622,f,2,2,0,0,0.88
1,9419.0,https://www.airbnb.com/rooms/9419,2.020000e+13,24/06/2024,city scrape,Glorious sun room w/ memory foambed,This beautiful double room features sun filled...,"Lots of restaurants (see our guide book) bars,...",https://a0.muscache.com/pictures/56645186/e5fb...,30559,...,4.89,4.67,4.66,Exempt,f,10,0,10,0,1.16
2,9531.0,https://www.airbnb.com/rooms/9531,2.020000e+13,24/06/2024,city scrape,The Adorable Sweet Orange Craftsman,The Sweet Orange is a delightful and spacious ...,The neighborhood is awesome! Just far enough ...,https://a0.muscache.com/pictures/30470355/052c...,31481,...,4.96,4.98,4.92,STR-OPLI-19-002182,f,2,2,0,0,0.64
3,9534.0,https://www.airbnb.com/rooms/9534,2.020000e+13,24/06/2024,city scrape,The Coolest Tangerine Dream MIL!,Welcome to my delicious Tangerine Dream! A co...,The neighborhood is the best of two worlds...w...,https://a0.muscache.com/pictures/30476721/0751...,31481,...,4.99,4.96,4.95,STR-OPLI-19-002182,f,2,2,0,0,0.51
4,9596.0,https://www.airbnb.com/rooms/9596,2.020000e+13,25/06/2024,previous scrape,"the down home , spacious, central and fab!","We are in a great neighborhood, quiet, full of...","if you arrive early for check in at 3, I reco...",https://a0.muscache.com/pictures/665252/102d18...,14942,...,4.66,4.91,4.56,STR -OPLI-19-002622,f,2,2,0,0,0.61

In [49]:
# Eliminamos las URL's de la base de datos:
dfSeattle.drop(["listing_url","host_url","picture_url","host_thumbnail_url","host_picture_url","id"], axis = 1, inplace = True)
# Eliminamos las columnas con valores nulos (Del más del 80%) que tenemos en las bases del equipo también
dfSeattle.drop(["neighbourhood_group_cleansed","calendar_updated","license"], axis = 1, inplace = True)
dfSeattle

,scrape_id,last_scraped,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2.020000e+13,24/06/2024,city scrape,"Fab, private seattle urban cottage!","This tiny cottage is only 15x10, but it has ev...","A peaceful yet highly accessible neighborhood,...",14942,Joyce,26/04/2009,"Seattle, WA",...,4.83,4.76,4.88,4.57,f,2,2,0,0,0.88
1,2.020000e+13,24/06/2024,city scrape,Glorious sun room w/ memory foambed,This beautiful double room features sun filled...,"Lots of restaurants (see our guide book) bars,...",30559,Angielena,09/08/2009,"Seattle, WA",...,4.91,4.89,4.67,4.66,f,10,0,10,0,1.16
2,2.020000e+13,24/06/2024,city scrape,The Adorable Sweet Orange Craftsman,The Sweet Orange is a delightful and spacious ...,The neighborhood is awesome! Just far enough ...,31481,Cassie,13/08/2009,"Seattle, WA",...,4.99,4.96,4.98,4.92,f,2,2,0,0,0.64
3,2.020000e+13,24/06/2024,city scrape,The Coolest Tangerine Dream MIL!,Welcome to my delicious Tangerine Dream! A co...,The neighborhood is the best of two worlds...w...,31481,Cassie,13/08/2009,"Seattle, WA",...,5.00,4.99,4.96,4.95,f,2,2,0,0,0.51
4,2.020000e+13,25/06/2024,previous scrape,"the down home , spacious, central and fab!","We are in a great neighborhood, quiet, full of...","if you arrive early for check in at 3, I reco...",14942,Joyce,26/04/2009,"Seattle, WA",...,4.80,4.66,4.91,4.56,f,2,2,0,0,0.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6437,2.020000e+13,25/06/2024,city scrape,Ballard Vintage: Prime location | Newly updated,"Discover this renovated vintage home, perfect ...",This home is in Phinney Ridge and close to Bal...,398317720,Joanne,23/04/2021,"Seattle, WA",...,NaN,NaN,NaN,NaN,t,66,66,0,0,NaN
6438,2.020000e+13,24/06/2024,city scrape,Near UW&Seattle children Hospital,"Quite, safe, beautiful place",NaN,184675574,Anna,16/04/2018,"Seattle, WA",...,NaN,NaN,NaN,NaN,t,4,0,4,0,NaN
6439,2.020000e+13,24/06/2024,city scrape,The Lavender House,Relax at this peaceful place to stay. Centrall...,NaN,584875397,Aaron,21/06/2024,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6440,2.020000e+13,24/06/2024,city scrape,King bed near lake Washington,-Close to the Link light-rail station which gi...,NaN,581629893,Sudip,05/06/2024,NaN,...,NaN,NaN,NaN,NaN,t,1,0,1,0,NaN
6441,2.020000e+13,25/06/2024,city scrape,Luxurious 2BR Penthouse with Water View Seattle!,"Our spacious 2 bedroom, 2 bath home is located...",NaN,386420269,Kathryn And Mike,28/01/2021,"Seattle, WA",...,NaN,NaN,NaN,NaN,f,30,30,0,0,NaN

In [50]:
dfSeattle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6442 entries, 0 to 6441
Data columns (total 66 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   scrape_id                                     6442 non-null   float64
 1   last_scraped                                  6442 non-null   object
 2   source                                        6442 non-null   object
 3   name                                          6442 non-null   object
 4   description                                   6248 non-null   object
 5   neighborhood_overview                         4579 non-null   object
 6   host_id                                       6442 non-null   int64
 7   host_name                                     6442 non-null   object
 8   host_since                                    6442 non-null   object
 9   host_location                                 5465 non-null   object
 10  host_about                                    4497 non-null   object
 11  host_response_time                            5980 non-null   object
 12  host_response_rate                            5980 non-null   object
 13  host_acceptance_rate                          6074 non-null   object
 14  host_is_superhost                             6321 non-null   object
 15  host_neighbourhood                            6140 non-null   object
 16  host_listings_count                           6442 non-null   int64
 17  host_total_listings_count                     6442 non-null   int64
 18  host_verifications                            6442 non-null   object
 19  host_has_profile_pic                          6442 non-null   object
 20  host_identity_verified                        6442 non-null   object
 21  neighbourhood                                 4579 non-null   object
 22  neighbourhood_cleansed                        6442 non-null   object
 23  latitude                                      6442 non-null   float64
 24  longitude                                     6442 non-null   float64
 25  property_type                                 6442 non-null   object
 26  room_type                                     6442 non-null   object
 27  accommodates                                  6442 non-null   int64
 28  bathrooms                                     6011 non-null   float64
 29  bathrooms_text                                6440 non-null   object
 30  bedrooms                                      6333 non-null   float64
 31  beds                                          6001 non-null   float64
 32  amenities                                     6442 non-null   object
 33  price                                         6011 non-null   object
 34  minimum_nights                                6442 non-null   int64
 35  maximum_nights                                6442 non-null   int64
 36  minimum_minimum_nights                        6442 non-null   int64
 37  maximum_minimum_nights                        6442 non-null   int64
 38  minimum_maximum_nights                        6442 non-null   int64
 39  maximum_maximum_nights                        6442 non-null   int64
 40  minimum_nights_avg_ntm                        6442 non-null   float64
 41  maximum_nights_avg_ntm                        6442 non-null   float64
 42  has_availability                              6412 non-null   object
 43  availability_30                               6442 non-null   int64
 44  availability_60                               6442 non-null   int64
 45  availability_90                               6442 non-null   int64
 46  availability_365                              6442 non-null   int64
 47  calendar_last_scraped                         6442 non-null   object
 48  number_of_reviews                             6442 non-null   int64
 49  number_of_reviews_ltm                         6442 non-null   int64
 50  number_of_reviews_l30d                        6442 non-null   int64
 51  first_review                                  5601 non-null   object
 52  last_review                                   5601 non-null   object
 53  review_scores_rating                          5601 non-null   float64
 54  review_scores_accuracy                        5590 non-null   float64
 55  review_scores_cleanliness                     5590 non-null   float64
 56  review_scores_checkin                         5590 non-null   float64
 57  review_scores_communication                   5590 non-null   float64
 58  review_scores_location                        5590 non-null   float64
 59  review_scores_value                           5590 non-null   float64
 60  instant_bookable                              6442 non-null   object
 61  calculated_host_listings_count                6442 non-null   int64
 62  calculated_host_listings_count_entire_homes   6442 non-null   int64
 63  calculated_host_listings_count_private_rooms  6442 non-null   int64
 64  calculated_host_listings_count_shared_rooms   6442 non-null   int64
 65  reviews_per_month                             5601 non-null   float64
dtypes: float64(16), int64(21), object(29)
memory usage: 3.2+ MB

### Verificar la naturaleza de los datos cualitativos

### Verificar la naturaleza de los datos cuantitativos

## Etapa 1

In [51]:
#Realizamos una copia del dataframe
data2=dfSeattle.copy()

In [52]:
# Eliminamos los símbolos que hacen que la columna de precio sea de tipo objeto
dfSeattle['host_response_rate'] = dfSeattle['host_response_rate'].str.replace('%', '')
dfSeattle['host_acceptance_rate'] = dfSeattle['host_acceptance_rate'].str.replace('%', '')
dfSeattle['host_is_superhost'] = dfSeattle['host_is_superhost'].str.replace('f', '0')
dfSeattle['host_is_superhost'] = dfSeattle['host_is_superhost'].str.replace('t', '1')
dfSeattle['host_has_profile_pic'] = dfSeattle['host_has_profile_pic'].str.replace('f', '0')
dfSeattle['host_has_profile_pic'] = dfSeattle['host_has_profile_pic'].str.replace('t', '1')
dfSeattle['host_identity_verified'] = dfSeattle['host_identity_verified'].str.replace('f', '0')
dfSeattle['host_identity_verified'] = dfSeattle['host_identity_verified'].str.replace('t', '1')
dfSeattle['instant_bookable'] = dfSeattle['instant_bookable'].str.replace('f', '0')
dfSeattle['instant_bookable'] = dfSeattle['instant_bookable'].str.replace('t', '1')
# Convertir a numérico
dfSeattle['host_response_rate'] = pd.to_numeric(dfSeattle['host_response_rate'], errors='coerce')
dfSeattle['host_acceptance_rate'] = pd.to_numeric(dfSeattle['host_acceptance_rate'], errors='coerce')
dfSeattle['host_is_superhost'] = pd.to_numeric(dfSeattle['host_is_superhost'], errors='coerce')
dfSeattle['host_has_profile_pic'] = pd.to_numeric(dfSeattle['host_has_profile_pic'], errors='coerce')
dfSeattle['host_identity_verified'] = pd.to_numeric(dfSeattle['host_identity_verified'], errors='coerce')
dfSeattle['instant_bookable'] = pd.to_numeric(dfSeattle['instant_bookable'], errors='coerce')
dfSeattle['price'] = dfSeattle['price'].str.replace(r'[\$,]', '', regex=True).astype(float)

In [53]:
# Extraemos el año de la última review y la del año donde inició el host de cada lugar
dfSeattle["last_review"]
dfSeattle["host_since"]
# Usar una expresión regular para extraer el año
dfSeattle['last_review'] = dfSeattle['last_review'].str.extract(r'(\d{4})')
dfSeattle['last_review'] = pd.to_numeric(dfSeattle['last_review'], errors='coerce')
dfSeattle['host_since'] = dfSeattle['host_since'].str.extract(r'(\d{4})')
dfSeattle['host_since'] = pd.to_numeric(dfSeattle['host_since'], errors='coerce')
# Agregamos una nueva columna
dfSeattle['host_years'] = dfSeattle["last_review"].max() - dfSeattle['host_since']

In [54]:
# Borramos las cualitativas
dfSeattle.drop(["description","neighborhood_overview","host_about","host_neighbourhood","name","neighbourhood","host_location","first_review","has_availability"], axis = 1, inplace = True)

# Borramos las cuantitativas
dfSeattle.drop(["scrape_id","minimum_nights","maximum_nights","minimum_minimum_nights","minimum_maximum_nights", "maximum_minimum_nights", "maximum_maximum_nights","availability_60", "availability_90", "calculated_host_listings_count_entire_homes", "calculated_host_listings_count_private_rooms", "calculated_host_listings_count_shared_rooms","last_review"], axis = 1, inplace = True)

In [55]:
# Dividimos por valores cuantitativos y cualitativos
cuantitativas = dfSeattle.select_dtypes(np.number)
cualitativas = dfSeattle.select_dtypes(include=['object'])

## Limpieza con los valores cualitativos

In [56]:
# Identificar valores cualitativos nulos
cualitativas.isnull().sum()

last_scraped                0
source                      0
host_name                   0
host_response_time        462
host_verifications          0
neighbourhood_cleansed      0
property_type               0
room_type                   0
bathrooms_text              2
amenities                   0
calendar_last_scraped       0
dtype: int64

In [57]:
# Copia
cualiLimpieza = cualitativas.copy()

In [58]:
# Será sustituido con la moda dadas las categorías que tenemos y la distribución de los datos
moda = cualiLimpieza["host_response_time"].value_counts().index[0]
cualiLimpieza["host_response_time"] = cualiLimpieza["host_response_time"].fillna(moda)

In [59]:
# Sustitución por moda
moda1 = cualiLimpieza["bathrooms_text"].value_counts().index[0]
cualiLimpieza["bathrooms_text"] = cualiLimpieza["bathrooms_text"].fillna(moda)

In [60]:
# Corroboramos que no tengamos valores nulos
cualiLimpieza.isnull().sum().sum()

0

## Limpieza con los valores cuantitativos

In [61]:
# Copia
dfLimpiezaCuanti = cuantitativas.copy()

In [62]:
# Identificar valores cualitativos nulos
dfLimpiezaCuanti.isnull().sum()

host_id                             0
host_since                          0
host_response_rate                462
host_acceptance_rate              368
host_is_superhost                 121
host_listings_count                 0
host_total_listings_count           0
host_has_profile_pic                0
host_identity_verified              0
latitude                            0
longitude                           0
accommodates                        0
bathrooms                         431
bedrooms                          109
beds                              441
price                             431
minimum_nights_avg_ntm              0
maximum_nights_avg_ntm              0
availability_30                     0
availability_365                    0
number_of_reviews                   0
number_of_reviews_ltm               0
number_of_reviews_l30d              0
review_scores_rating              841
review_scores_accuracy            852
review_scores_cleanliness         852
review_scores_checkin             852
review_scores_communication       852
review_scores_location            852
review_scores_value               852
instant_bookable                    0
calculated_host_listings_count      0
reviews_per_month                 841
host_years                          0
dtype: int64

In [63]:
cuantitativas[["host_response_rate","host_acceptance_rate"]].head(5)
# Dado que está en porcentaje, se sustituye con media
dfLimpiezaCuanti["host_response_rate"] = dfLimpiezaCuanti["host_response_rate"].fillna(round(cuantitativas["host_response_rate"].mean(),1))
dfLimpiezaCuanti["host_acceptance_rate"] = dfLimpiezaCuanti["host_acceptance_rate"].fillna(round(cuantitativas["host_acceptance_rate"].mean(),1))

In [64]:
cuantitativas["host_is_superhost"].value_counts()
# Reemplazaremos por un valor nuevo
dfLimpiezaCuanti["host_is_superhost"] = dfLimpiezaCuanti["host_is_superhost"].fillna(2)

In [65]:
#Para valores como baños, habitaciones y camas, estas serán reemplazados por la mediana para no alterar la distribución de los datos
dfLimpiezaCuanti["bathrooms"] = dfLimpiezaCuanti["bathrooms"].fillna(int(round(cuantitativas["bathrooms"].median(), 0)))
dfLimpiezaCuanti["bedrooms"] = dfLimpiezaCuanti["bedrooms"].fillna(int(round(cuantitativas["bedrooms"].median(), 0)))
dfLimpiezaCuanti["beds"] = dfLimpiezaCuanti["beds"].fillna(int(round(cuantitativas["beds"].median(), 0)))

In [66]:
"""Ahora vemos la distribución del dataframe con aquellas columnas iniciando con 'review_scores', los valores son escala Likert"""

dfReviewScores = dfLimpiezaCuanti.loc[:, dfLimpiezaCuanti.columns.str.contains("review_scores")]
[dfReviewScores.min(), dfReviewScores.max()]

[review_scores_rating           1.0
 review_scores_accuracy         1.0
 review_scores_cleanliness      1.0
 review_scores_checkin          1.0
 review_scores_communication    1.0
 review_scores_location         1.0
 review_scores_value            1.0
 dtype: float64,
 review_scores_rating           5.0
 review_scores_accuracy         5.0
 review_scores_cleanliness      5.0
 review_scores_checkin          5.0
 review_scores_communication    5.0
 review_scores_location         5.0
 review_scores_value            5.0
 dtype: float64]

In [67]:
# Sustituidos por la media

dfLimpiezaCuanti["review_scores_rating"] = dfLimpiezaCuanti["review_scores_rating"].fillna(round(cuantitativas["review_scores_rating"].mean(), 2))
dfLimpiezaCuanti["review_scores_accuracy"] = dfLimpiezaCuanti["review_scores_accuracy"].fillna(round(cuantitativas["review_scores_accuracy"].mean(), 2))
dfLimpiezaCuanti["review_scores_cleanliness"] = dfLimpiezaCuanti["review_scores_cleanliness"].fillna(round(cuantitativas["review_scores_cleanliness"].mean(), 2))
dfLimpiezaCuanti["review_scores_checkin"] = dfLimpiezaCuanti["review_scores_checkin"].fillna(round(cuantitativas["review_scores_checkin"].mean(), 2))
dfLimpiezaCuanti["review_scores_communication"] = dfLimpiezaCuanti["review_scores_communication"].fillna(round(cuantitativas["review_scores_communication"].mean(), 2))
dfLimpiezaCuanti["review_scores_location"] = dfLimpiezaCuanti["review_scores_location"].fillna(round(cuantitativas["review_scores_location"].mean(), 2))
dfLimpiezaCuanti["review_scores_value"] = dfLimpiezaCuanti["review_scores_value"].fillna(round(cuantitativas["review_scores_value"].mean(), 2))

In [68]:
# Redondeados a valor entero

dfLimpiezaCuanti["review_scores_rating"] = dfLimpiezaCuanti["review_scores_rating"].round()
dfLimpiezaCuanti["review_scores_accuracy"] = dfLimpiezaCuanti["review_scores_accuracy"].round()
dfLimpiezaCuanti["review_scores_cleanliness"] = dfLimpiezaCuanti["review_scores_cleanliness"].round()
dfLimpiezaCuanti["review_scores_checkin"] = dfLimpiezaCuanti["review_scores_checkin"].round()
dfLimpiezaCuanti["review_scores_communication"] = dfLimpiezaCuanti["review_scores_communication"].round()
dfLimpiezaCuanti["review_scores_location"] = dfLimpiezaCuanti["review_scores_location"].round()
dfLimpiezaCuanti["review_scores_value"] = dfLimpiezaCuanti["review_scores_value"].round()

In [69]:
# Comprobación del cambio

dfReviewScores = dfLimpiezaCuanti.loc[:, dfLimpiezaCuanti.columns.str.contains("review_scores")]
dfReviewScores.value_counts()

review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value
5.0                   5.0                     5.0                        5.0                    5.0                          5.0                     5.0                    5315
                                                                                                                                                     4.0                     172
                                                                                                                             4.0                     5.0                      75
                                              4.0                        5.0                    5.0                          5.0                     5.0                      74
                                              5.0                        4.0                    5.0                          5.0                     5.0                      39
                                                                                                                                                                            ...
4.0                   3.0                     4.0                        5.0                    4.0                          3.0                     3.0                       1
                                                                                                                             4.0                     3.0                       1
                                                                                                                                                     5.0                       1
                                              5.0                        5.0                    4.0                          4.0                     3.0                       1
                      4.0                     5.0                        5.0                    4.0                          4.0                     3.0                       1
Name: count, Length: 208, dtype: int64

In [70]:
# Reviews per month sustituido con la mediana
dfLimpiezaCuanti["reviews_per_month"] = dfLimpiezaCuanti["reviews_per_month"].fillna(round(cuantitativas["reviews_per_month"].median(), 2))

In [71]:
# Utilizaremos la mediana para no afectar la distribución de los datos
dfLimpiezaCuanti["price"] = dfLimpiezaCuanti["price"].fillna(round(cuantitativas["price"].median(), 0))

In [72]:
# Corroboramos que no tengamos valores nulos
dfLimpiezaCuanti.isnull().sum().sum()

0

## Categorización de valores

In [73]:
# Unimos ambas limpiezas (Valores cuantitativos y cualitativos limpios)
dfSeattleLimpio = pd.concat([cualiLimpieza, dfLimpiezaCuanti], axis=1)

In [74]:
# Comprobamos que sí estén todos los datos en ambas bases, tanto la inicial como la que tuvo un proceso de limpieza
dfSeattle.info()
dfSeattleLimpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6442 entries, 0 to 6441
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   last_scraped                    6442 non-null   object
 1   source                          6442 non-null   object
 2   host_id                         6442 non-null   int64
 3   host_name                       6442 non-null   object
 4   host_since                      6442 non-null   int64
 5   host_response_time              5980 non-null   object
 6   host_response_rate              5980 non-null   float64
 7   host_acceptance_rate            6074 non-null   float64
 8   host_is_superhost               6321 non-null   float64
 9   host_listings_count             6442 non-null   int64
 10  host_total_listings_count       6442 non-null   int64
 11  host_verifications              6442 non-null   object
 12  host_has_profile_pic            6442 non-null   int64
 13  host_identity_verified          6442 non-null   int64
 14  neighbourhood_cleansed          6442 non-null   object
 15  latitude                        6442 non-null   float64
 16  longitude                       6442 non-null   float64
 17  property_type                   6442 non-null   object
 18  room_type                       6442 non-null   object
 19  accommodates                    6442 non-null   int64
 20  bathrooms                       6011 non-null   float64
 21  bathrooms_text                  6440 non-null   object
 22  bedrooms                        6333 non-null   float64
 23  beds                            6001 non-null   float64
 24  amenities                       6442 non-null   object
 25  price                           6011 non-null   float64
 26  minimum_nights_avg_ntm          6442 non-null   float64
 27  maximum_nights_avg_ntm          6442 non-null   float64
 28  availability_30                 6442 non-null   int64
 29  availability_365                6442 non-null   int64
 30  calendar_last_scraped           6442 non-null   object
 31  number_of_reviews               6442 non-null   int64
 32  number_of_reviews_ltm           6442 non-null   int64
 33  number_of_reviews_l30d          6442 non-null   int64
 34  review_scores_rating            5601 non-null   float64
 35  review_scores_accuracy          5590 non-null   float64
 36  review_scores_cleanliness       5590 non-null   float64
 37  review_scores_checkin           5590 non-null   float64
 38  review_scores_communication     5590 non-null   float64
 39  review_scores_location          5590 non-null   float64
 40  review_scores_value             5590 non-null   float64
 41  instant_bookable                6442 non-null   int64
 42  calculated_host_listings_count  6442 non-null   int64
 43  reviews_per_month               5601 non-null   float64
 44  host_years                      6442 non-null   float64
dtypes: float64(20), int64(14), object(11)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6442 entries, 0 to 6441
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   last_scraped                    6442 non-null   object
 1   source                          6442 non-null   object
 2   host_name                       6442 non-null   object
 3   host_response_time              6442 non-null   object
 4   host_verifications              6442 non-null   object
 5   neighbourhood_cleansed          6442 non-null   object
 6   property_type                   6442 non-null   object
 7   room_type                       6442 non-null   object
 8   bathrooms_text                  6442 non-null   object
 9   amenities                       6442 non-null   object
 10  calendar_last_scraped           6442 non-null   object
 11  host_id                         6442 non-null   int64
 12  host_since                      6442 non-null   int64
 13  host_response_rate              6442 non-null   float64
 14  host_acceptance_rate            6442 non-null   float64
 15  host_is_superhost               6442 non-null   float64
 16  host_listings_count             6442 non-null   int64
 17  host_total_listings_count       6442 non-null   int64
 18  host_has_profile_pic            6442 non-null   int64
 19  host_identity_verified          6442 non-null   int64
 20  latitude                        6442 non-null   float64
 21  longitude                       6442 non-null   float64
 22  accommodates                    6442 non-null   int64
 23  bathrooms                       6442 non-null   float64
 24  bedrooms                        6442 non-null   float64
 25  beds                            6442 non-null   float64
 26  price                           6442 non-null   float64
 27  minimum_nights_avg_ntm          6442 non-null   float64
 28  maximum_nights_avg_ntm          6442 non-null   float64
 29  availability_30                 6442 non-null   int64
 30  availability_365                6442 non-null   int64
 31  number_of_reviews               6442 non-null   int64
 32  number_of_reviews_ltm           6442 non-null   int64
 33  number_of_reviews_l30d          6442 non-null   int64
 34  review_scores_rating            6442 non-null   float64
 35  review_scores_accuracy          6442 non-null   float64
 36  review_scores_cleanliness       6442 non-null   float64
 37  review_scores_checkin           6442 non-null   float64
 38  review_scores_communication     6442 non-null   float64
 39  review_scores_location          6442 non-null   float64
 40  review_scores_value             6442 non-null   float64
 41  instant_bookable                6442 non-null   int64
 42  calculated_host_listings_count  6442 non-null   int64
 43  reviews_per_month               6442 non-null   float64
 44  host_years                      6442 non-null   float64
dtypes: float64(20), int64(14), object(11)
memory usage: 2.2+ MB

In [75]:
# Asignamos categorías a las columnas de tipo texto con valores numéricos usando la libreria de sklearn
labels = LabelEncoder()
# Convertir la columna de texto a valores numéricos (Categorizar con números)
dfSeattleLimpio['room_type_num'] = labels.fit_transform(dfSeattleLimpio['room_type'])
dfSeattleLimpio['neighbourhood_cleansed_num'] = labels.fit_transform(dfSeattleLimpio['neighbourhood_cleansed'])
dfSeattleLimpio['host_response_time_num'] = labels.fit_transform(dfSeattleLimpio['host_response_time'])

In [76]:
# Obtenemos categorías para bathrooms_text:
dfSeattleLimpio['bathroom_text_clean'] = dfSeattleLimpio['bathrooms_text'].str.replace(r'^\d*\.?\d*\s?', '', regex=True).str.strip()
dfSeattleLimpio['bathroom_text_clean'] = dfSeattleLimpio['bathroom_text_clean'].str.replace("baths","bath")
dfSeattleLimpio['bathroom_text_clean'] = dfSeattleLimpio['bathroom_text_clean'].str.replace("shared baths","shared bath")
dfSeattleLimpio['bathroom_text_clean'].value_counts()
# Las volvemos numéricas:
dfSeattleLimpio['bathroom_text_num'] = labels.fit_transform(dfSeattleLimpio['bathroom_text_clean'])
dfSeattleLimpio['bathroom_text_num'].value_counts()

bathroom_text_num
3    5683
5     407
4     335
0      12
6       2
1       2
2       1
Name: count, dtype: int64

In [77]:
# Conteo para la variable "amenities" y "host_verifications"
dfSeattleLimpio['amenities_num'] = dfSeattleLimpio['amenities'].apply(ast.literal_eval)
dfSeattleLimpio["host_verifications_num"] = dfSeattleLimpio['host_verifications'].apply(ast.literal_eval)
# Crear una nueva columna que cuenta los elementos de la lista
dfSeattleLimpio['amenities_num'] = dfSeattleLimpio['amenities_num'].apply(len)
dfSeattleLimpio['host_verifications_num'] = dfSeattleLimpio['host_verifications_num'].apply(len)

In [78]:
#Base final
dfSeattleLimpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6442 entries, 0 to 6441
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   last_scraped                    6442 non-null   object
 1   source                          6442 non-null   object
 2   host_name                       6442 non-null   object
 3   host_response_time              6442 non-null   object
 4   host_verifications              6442 non-null   object
 5   neighbourhood_cleansed          6442 non-null   object
 6   property_type                   6442 non-null   object
 7   room_type                       6442 non-null   object
 8   bathrooms_text                  6442 non-null   object
 9   amenities                       6442 non-null   object
 10  calendar_last_scraped           6442 non-null   object
 11  host_id                         6442 non-null   int64
 12  host_since                      6442 non-null   int64
 13  host_response_rate              6442 non-null   float64
 14  host_acceptance_rate            6442 non-null   float64
 15  host_is_superhost               6442 non-null   float64
 16  host_listings_count             6442 non-null   int64
 17  host_total_listings_count       6442 non-null   int64
 18  host_has_profile_pic            6442 non-null   int64
 19  host_identity_verified          6442 non-null   int64
 20  latitude                        6442 non-null   float64
 21  longitude                       6442 non-null   float64
 22  accommodates                    6442 non-null   int64
 23  bathrooms                       6442 non-null   float64
 24  bedrooms                        6442 non-null   float64
 25  beds                            6442 non-null   float64
 26  price                           6442 non-null   float64
 27  minimum_nights_avg_ntm          6442 non-null   float64
 28  maximum_nights_avg_ntm          6442 non-null   float64
 29  availability_30                 6442 non-null   int64
 30  availability_365                6442 non-null   int64
 31  number_of_reviews               6442 non-null   int64
 32  number_of_reviews_ltm           6442 non-null   int64
 33  number_of_reviews_l30d          6442 non-null   int64
 34  review_scores_rating            6442 non-null   float64
 35  review_scores_accuracy          6442 non-null   float64
 36  review_scores_cleanliness       6442 non-null   float64
 37  review_scores_checkin           6442 non-null   float64
 38  review_scores_communication     6442 non-null   float64
 39  review_scores_location          6442 non-null   float64
 40  review_scores_value             6442 non-null   float64
 41  instant_bookable                6442 non-null   int64
 42  calculated_host_listings_count  6442 non-null   int64
 43  reviews_per_month               6442 non-null   float64
 44  host_years                      6442 non-null   float64
 45  room_type_num                   6442 non-null   int64
 46  neighbourhood_cleansed_num      6442 non-null   int64
 47  host_response_time_num          6442 non-null   int64
 48  bathroom_text_clean             6442 non-null   object
 49  bathroom_text_num               6442 non-null   int64
 50  amenities_num                   6442 non-null   int64
 51  host_verifications_num          6442 non-null   int64
dtypes: float64(20), int64(20), object(12)
memory usage: 2.6+ MB

CATEGORIZACIÓN COLUMNA PRECIO

In [79]:
# Estandarización a precio mexicano
pesoMex = 19.61
dfSeattleLimpio["priceMex"] = dfSeattleLimpio["price"] * pesoMex

In [80]:
# Redondeamos a dos decimales
dfSeattleLimpio["priceMex"] = np.round(dfSeattleLimpio["priceMex"],2)

In [81]:
# Corroboramos la conversión

dfSeattleLimpio[["priceMex","price"]].min()

priceMex    196.1
price        10.0
dtype: float64

## Categorización de la columna precio (Estandarizada a Mx)

In [82]:
#Calculamos el número total de la población "n"
n = len(dfSeattleLimpio['priceMex'])
n
# Límites
Max = dfSeattleLimpio["priceMex"].max()
Min = dfSeattleLimpio["priceMex"].min()
Limites = [Min, Max]
Limites

[196.1, 176490.0]

In [83]:
# Calculamos el rango R
R = Max - Min
R

176293.9

In [84]:
# Regla de Sturges: Calcular el número de Intervalos de Clase "ni"
ni = 1 + 3.32*np.log10(n)
ni = int(ni)
ni

13

In [85]:
# Calculamos el ancho del intervalo "i"
i = R/ni

In [86]:
# Crear 13 bordes (12 intervalos)
intervalos = np.linspace(Min, Max, 12)

In [87]:
# Definir las categorías
categorias = ['Muy Económico', 'Básico', 'Económico', 'Estándar', 'Costo Moderado',
              'Costo Elevado', 'Premium', 'De Lujo', 'Elite', 'Exclusivo', 'Top de Mercado']

# Se asignan en una nueva columna
dfSeattleLimpio['priceMexCategory'] = pd.cut(x = dfSeattleLimpio['priceMex'], bins = intervalos, labels = categorias, include_lowest=True)

In [88]:
# Verificamos
dfSeattleLimpio['priceMexCategory']

0       Muy Económico
1       Muy Económico
2       Muy Económico
3       Muy Económico
4       Muy Económico
            ...
6437    Muy Económico
6438    Muy Económico
6439    Muy Económico
6440    Muy Económico
6441    Muy Económico
Name: priceMexCategory, Length: 6442, dtype: category
Categories (11, object): ['Muy Económico' < 'Básico' < 'Económico' < 'Estándar' ... 'De Lujo' < 'Elite' <
                          'Exclusivo' < 'Top de Mercado']

In [89]:
# Corroboramos
dfSeattleLimpio.isnull().sum().sum()

0

In [90]:
#Convertir DataFrame a CSV
dfSeattleLimpio.to_csv("Seattle_sin_nulos.csv")

In [91]:
#descargar archivo filtrado en csv
from google.colab import files
files.download("Seattle_sin_nulos.csv")